@charset "UTF-8";
/* 
Yahoo! CSS Reset (YUI 3)
http://developer.yahoo.com/yui/3/cssreset/
CSSresetr.com
*/
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

header, nav, article, aside, section, footer {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  color: #d0d0d0;
  content: "¡±";
  font-size: 190%;
  font-weight: bold; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

/* 
Yahoo! CSS Reset (YUI 3)
http://developer.yahoo.com/yui/3/cssreset/
CSSresetr.com
*/
/*
 * original reset
 */
body {
  font-size: 14px;
  line-height: 1.8;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  letter-spacing: 1px; }

img {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: #25B8DD; }
  a:hover {
    text-decoration: none; }
  a[target="_blank"]:after {
    content: "";
    background-image: url(images/parts--new-window.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 8px;
    transform: translate(0, 1px); }

/*
 * common parts
 */
.indent {
  text-indent: -1em;
  padding-left: 1em; }

.bold {
  font-weight: bold; }

.d-b {
  display: block; }

.d-ib {
  display: inline-block; }

.url-textarea {
  opacity: 0;
  width: 0;
  height: 0; }

.copy-button {
  background-color: #8EE454;
  border-radius: 2px;
  padding: 0.2em 0.4em 0.45em;
  color: #FFF;
  line-height: 1;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 100;
  cursor: pointer; }
  .copy-button:hover {
    opacity: 0.8; }

.display-button {
  cursor: pointer;
  width: 100%;
  color: #FFF;
  background-color: #333333;
  text-align: center;
  padding: 0.6em 0;
  position: relative;
  transition: margin 0.3s 0s;
  margin: 0; }
  .display-button:after {
    content: "";
    position: absolute;
    right: 11px;
    top: 4px;
    bottom: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
    border-width: 8px 6px 0 6px;
    transition: transform 0.3s 0s; }
  .display-button:hover {
    opacity: 0.8; }
  .display-button.-open {
    margin-top: 20px; }
    .display-button.-open:after {
      transform: rotate(180deg); }

/*
 * title
 */
.head-title {
  text-align: center;
  margin: 0 0 60px; }
  .head-title .en-title {
    display: block;
    margin: 0 auto;
    width: 100%; }
    .head-title .en-title.-production {
      max-width: 475px; }
    .head-title .en-title.-skill {
      max-width: 207px; }
    .head-title .en-title.-owned-media {
      max-width: 564px; }
  .head-title .jp-title {
    font-weight: bold;
    display: inline-block;
    margin: 1.5em 0 0; }

/*
 * キービジュアル
 */
.key-visual-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  color: #FFF; }
  .key-visual-container .slide-images {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: absolute;
    z-index: -1; }
    .key-visual-container .slide-images .slide-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0;
      transition: opacity 3.0s 0s, transform 4.0s 1.0s;
      transform: scale(1.01, 1.01); }
      .key-visual-container .slide-images .slide-image.-display {
        opacity: 1;
        transform: scale(1, 1); }
  .key-visual-container .text-block {
    text-align: center; }
    .key-visual-container .text-block .title {
      max-width: 524px;
      opacity: 0.75; }
    .key-visual-container .text-block .sentence {
      margin: 20px 0 0; }
  .key-visual-container .scroll-block {
    display: block;
    width: 110px;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    top: auto;
    margin: auto; }
    .key-visual-container .scroll-block .text {
      width: 110px;
      margin: 0 auto;
      opacity: 0;
      transform: translate(0, -30px);
      transition: opacity 0.8s 0.2s, transform 0.8s 0.2s; }
    .key-visual-container .scroll-block .arrow {
      display: block;
      width: 28px;
      height: 0px;
      margin: 15px auto 0;
      border-style: solid;
      border-color: rgba(142, 228, 84, 0.74) transparent transparent transparent;
      border-width: 14px 14px 0 14px;
      opacity: 0;
      transform: translate(0, -30px);
      transition: opacity 0.8s 0s, transform 0.8s 0s; }
    .key-visual-container .scroll-block.-display .text,
    .key-visual-container .scroll-block.-display .arrow {
      opacity: 1;
      transform: translate(0, 0); }

/*
 * メインコンテンツ
 */
.main-container {
  max-width: 1080px;
  padding: 120px 40px 0;
  margin: 0 auto; }

.normal-section:not(:first-of-type) {
  padding-top: 200px; }
.normal-section.-end-text {
  padding-top: 80px; }

.read-text {
  font-weight: bold;
  text-align: center;
  margin: 40px 0 80px; }

/*
 * double-flex-block
 */
.double-flex-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .double-flex-block .item {
    width: calc(50% - 30px);
    opacity: 0;
    transform: translate(0, 30px);
    transition: opacity 0.5s 0s, transform 0.5s 0s; }
    .double-flex-block .item:not(:nth-of-type(-n+2)) {
      margin-top: 80px; }
    .double-flex-block .item.-display {
      opacity: 1;
      transform: translate(0, 0); }

.production-record .title {
  font-weight: bold; }
.production-record .image {
  display: block;
  width: 100%;
  margin: 8px auto 0;
  border: 1px solid #ddd; }
.production-record .information {
  display: none; }
  .production-record .information.-display {
    display: block; }
  .production-record .information dl:not(:first-of-type) {
    margin-top: 2.2em; }
  .production-record .information dl dt {
    font-weight: bold;
    opacity: 0.75; }
  .production-record .information dl dd {
    margin-top: 0.4em; }
    .production-record .information dl dd p:not(:first-of-type) {
      margin-top: 0.2em; }
    .production-record .information dl dd p.long {
      margin-top: 1.2em; }
    .production-record .information dl dd .url {
      display: inline-block;
      margin: 0 1em 0 0; }
  .production-record .information.-display {
    height: auto; }
  .production-record .information.-first {
    display: block;
    padding: 20px 0; }
  .production-record .information.-media .information {
    padding-top: 20px !important; }

/*
 * circle-block
 */
.circle-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .circle-block .item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    width: 240px;
    height: 240px;
    background-color: #8EE454;
    border-radius: 50%;
    transform: rotate(0);
    opacity: 0;
    transition: transform 0.3s 0s, opacity 0.3s 0s; }
    .circle-block .item:hover {
      transform: rotate(12deg);
      transition: transform 0.3s 0s; }
    .circle-block .item.-display {
      opacity: 1; }
    .circle-block .item:not(:nth-of-type(3n+1)) {
      margin-left: 60px; }
    .circle-block .item:not(:nth-of-type(-n+3)) {
      margin-top: 60px; }
    .circle-block .item .text {
      font-weight: bold;
      cursor: default; }
      .circle-block .item .text .title {
        font-size: 1.3em;
        line-height: 1.2; }
      .circle-block .item .text .about {
        font-size: 1.8em;
        margin-top: 0.6em;
        letter-spacing: 3px;
        line-height: 1; }
        .circle-block .item .text .about .num {
          font-size: 2em; }
  .circle-block.-display .item {
    opacity: 1; }
    .circle-block.-display .item:nth-of-type(1) {
      transition: opacity 0.3s 0s, transform 0.3s 0s; }
    .circle-block.-display .item:nth-of-type(2) {
      transition: opacity 0.3s 0.1s, transform 0.3s 0s; }
    .circle-block.-display .item:nth-of-type(3) {
      transition: opacity 0.3s 0.2s, transform 0.3s 0s; }
    .circle-block.-display .item:nth-of-type(4) {
      transition: opacity 0.3s 0.3s, transform 0.3s 0s; }
    .circle-block.-display .item:nth-of-type(5) {
      transition: opacity 0.3s 0.4s, transform 0.3s 0s; }
    .circle-block.-display .item:nth-of-type(6) {
      transition: opacity 0.3s 0.5s, transform 0.3s 0s; }

.note-text {
  margin-top: 60px; }
  .note-text .one-block:not(:first-of-type) {
    margin-top: 2em; }

.footer-container {
  width: 100%;
  background-color: #333333;
  margin-top: 200px;
  text-align: center;
  padding: 0.8em 0;
  font-size: 1.3em;
  color: #FFF; }

/* 点滅 */
.blinking {
  animation: blink 1.1s cubic-bezier(0.22, -0.09, 0.79, 0.84) infinite alternate; }

@keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*  タブレット */
@media screen and (min-width: 768px) and (max-width: 1080px) {
  .circle-block .item {
    width: calc(33.33vw - 50px);
    height: calc(33.33vw - 50px); }
    .circle-block .item:not(:nth-of-type(3n+1)) {
      margin-left: 26px; }
    .circle-block .item .text .title {
      font-size: 2.2vw; }
    .circle-block .item .text .about {
      font-size: 4vw;
      margin-top: 2vw; }
      .circle-block .item .text .about .num {
        font-size: 6vw; }

  .double-flex-block .item {
    width: calc(50% - 20px); } }
/*  スマホ */
@media screen and (max-width: 767px) {
  body {
    font-size: 14px; }

  .head-title {
    margin-bottom: 30px; }
    .head-title .en-title {
      width: auto; }
      .head-title .en-title.-production {
        max-height: 50px;
        max-width: 100%; }
      .head-title .en-title.-skill {
        max-height: 50px;
        max-width: 100%; }
      .head-title .en-title.-owned-media {
        max-height: 50px;
        max-width: 100%; }
    .head-title .jp-title {
      font-size: 15px;
      margin: 1.2em 0 0; }

  .normal-section:not(:first-of-type) {
    padding-top: 100px; }

  .read-text {
    margin: 20px 0 40px; }
    .read-text p:not(:first-of-type) {
      margin-top: 1em; }

  .key-visual-container {
    height: calc(100vh - 70px);
    min-height: 0; }
    .key-visual-container .slide-images {
      height: calc(100vh - 70px);
      min-height: 0; }
    .key-visual-container .text-block {
      padding: 0 15px; }
      .key-visual-container .text-block .title {
        margin: 0 auto;
        width: calc(100% - 40px); }
    .key-visual-container .scroll-block .text {
      width: 80px; }
    .key-visual-container .scroll-block .arrow {
      width: 20px;
      border-width: 10px 10px 0 10px; }
    .key-visual-container .scroll-block.-display .text {
      transform: translate(0, 5px); }

  .main-container {
    padding: 60px 15px 0; }

  .double-flex-block {
    display: block; }
    .double-flex-block .item {
      width: 100%; }
      .double-flex-block .item:not(:nth-of-type(1)), .double-flex-block .item:not(:nth-of-type(-n+2)) {
        margin-top: 60px; }

  .circle-block .item {
    width: calc(50vw - 23px);
    height: calc(50vw - 23px); }
    .circle-block .item:not(:nth-of-type(3n+1)) {
      margin-left: 0; }
    .circle-block .item:nth-of-type(2n) {
      margin-left: 10px; }
    .circle-block .item:not(:nth-of-type(-n+2)) {
      margin-top: 10px; }
    .circle-block .item .text .title {
      font-size: 4vw; }
    .circle-block .item .text .about {
      font-size: 7vw;
      margin-top: 2vw; }
      .circle-block .item .text .about .num {
        font-size: 9vw; }

  .footer-container {
    margin-top: 120px; } }

/*# sourceMappingURL=style.css.map */
